<p>本指引不解决任何智商问题</p>
<p>若欠缺阅读能力、不具备基本逻辑思考、电脑和网路知识严重贫乏等问题，请自行处理</p>
<p>－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－</p>
<p>跟我有关的Q&amp;A：<a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/OTHER/ASK_ME/ASK_ME.MD" target="_blank" rel="noopener">LINK</a></p>
<p>－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－</p>
<ol>
<li>黑名单</li>
<li>服务器列表</li>
<li>如何添加服务器</li>
<li>Steam服务器有正常工作吗？（关系到商店\背包\装备\匹配等）</li>
<li>TF2安装和注册流程</li>
<li>交易入门其一</li>
<li>交易入门其二</li>
<li>如何防骗</li>
<li>怎么转成高级帐号（转正）？</li>
<li>一些跟TF2有关的网站</li>
<li>如何使用Scrap.tf</li>
<li>为什么我进不了服务器？为什么突然断线？</li>
<li>计算机屏蔽了VAC系统？( ... is blocking the VAC system ... )</li>
<li>非安全模式</li>
<li>如何建服</li>
<li>[模型资源]香蕉网的MOD资源转载</li>
<li>如何安装HUD\自定义文件\MOD</li>
<li>如何修复地图遗失（Missing Map）</li>
<li>游戏备份</li>
<li>HUD</li>
<li>依职业切换设定</li>
<li>透明V模</li>
<li>win10 TF2不能启动（闪退）</li>
<li>config.tf ---- 帮助你完成设定文件</li>
<li>终极低画质补丁三连弹，无帽+低画质cfg+超低贴图设置</li>
<li>大量TF2设定与调整工具</li>
<li>关於『Gun Mettle』更新后的崩溃问题</li>
<li>如何显示伤害数字</li>
<li>如何更改手臂长度\枪的距离\视野</li>
<li>为什麼别人的介面跟我不一样</li>
<li>在不是Windows的系统上的系统上，TF2的字会显示不全</li>
<li>如何开启打击音效以及变更打击音效</li>
<li>分辨率设定错误导致游戏无法执行</li>
<li>Linux缺字</li>
<li>如何挑选低延迟的官服</li>
<li>如何解锁黑玫瑰（Black Rose）</li>
<li>尖叫要塞7更新 --- 问题与答案</li>
<li>out of memory</li>
<li>【修复】Unable to load unicode.dll</li>
<li>【教程】手机steam令牌</li>
<li>说不定能解决你的死机问题</li>
<li>有关备份还原、游戏主档案复制等</li>
<li>那些有前坠名称或计数器的武器或帽子是什么？</li>
<li>那些什么连杀是什么？（什么多少连杀、武器有特殊光泽、眼睛会喷火之类的）</li>
<li>XXX东西要怎么取得？</li>
<li>物品掉落的规则是如何？</li>
<li>『connection failed after 4 retries』？</li>
<li>为什么主页面上出现<a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/PICTURE/48-1.jpg" target="_blank" rel="noopener">僵尸</a>？</li>
<li>东西上面写著<a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/PICTURE/48-2.png" target="_blank" rel="noopener">满月或节日才能使用</a>是什么意思？</li>
<li>如何邀请好友？</li>
<li>创意工坊地图订阅后怎么玩？</li>
<li>更新时硬盘满了？为什么更新一直胀大？为什么没有速度？</li>
<li>什么样的配置才带的动本游戏？</li>
<li>如何把更新前的创造服务器方式加回主页面上</li>
<li>能不能玩单机\离线\跟BOT打？</li>
<li>BOT不会动？</li>
<li>BOT卡在一个地方？</li>
<li>怎么加入BOT？</li>
<li>如何开启控制台？</li>
<li>皮肤\帽子\饰品有什么功用吗？</li>
<li>为什么我下载时只有几GB，但之后变成几十多GB？</li>
<li>VPN？加速器？</li>
<li>为什么停在100%？</li>
<li>为什么那么慢？</li>
<li>什么东西才能挂市场或与他人交易？</li>
<li>如何还原种种设定？</li>
<li>为什么一卡一卡的？</li>
<li>怎么把语言改成中文？</li>
<li>怎么修改游戏昵称？</li>
<li>怎么跳舞＼击掌＼猜拳＼与他人互动？</li>
<li>MvM的门票怎么用？</li>
<li>如何跟好友一起玩？</li>
<li>屏幕超频？</li>
<li>为什么我不能加好友？</li>
<li>怎样才能开通Steam帐号＼取得更多功能？</li>
<li>Steam怎么绑定手机？</li>
<li>怎么进入竞技模式？</li>
<li>客户端崩溃</li>
<li>怎么直接进入休闲模式的服务器？</li>
<li>摄魂石像鬼（Soul Gargoyle）是做什么的？</li>
<li>如何使用工作坊的地图</li>
</ol>
<p>－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－</p>
<h4 id="1">1. 黑名单</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/黑名单/黑名单.md" target="_blank" rel="noopener">黑名单.md</a></p>
<h4 id="2">2. 服务器列表：</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/服务器列表/服务器列表.md" target="_blank" rel="noopener">服务器列表.md</a></p>
<h4 id="3">3. 如何添加服务器：</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/如何添加服务器/如何添加服务器.md" target="_blank" rel="noopener">如何添加服务器.md</a></p>
<h4 id="4steam">4. Steam服务器有正常工作吗？（关系到商店\背包\装备\匹配等）：</h4>
<p><a href="https://steamgaug.es/" target="_blank" rel="noopener">https://steamgaug.es/</a></p>
<p><a href="https://steamstat.us/" target="_blank" rel="noopener">https://steamstat.us/</a></p>
<h4 id="5tf2">5. TF2安装和注册流程：</h4>
<p><a href="http://tieba.baidu.com/p/2467997107" target="_blank" rel="noopener">http://tieba.baidu.com/p/2467997107</a></p>
<h4 id="6">6. 交易入门其一：</h4>
<p><a href="http://tieba.baidu.com/p/3244893395" target="_blank" rel="noopener">http://tieba.baidu.com/p/3244893395</a></p>
<h4 id="7">7. 交易入门其二：</h4>
<p><a href="http://tieba.baidu.com/p/3540242549" target="_blank" rel="noopener">http://tieba.baidu.com/p/3540242549</a></p>
<h4 id="8">8. 如何防骗：</h4>
<p><a href="http://tieba.baidu.com/p/3748680197">http://tieba.baidu.com/p/3748680197</a></p>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/如何防骗/【2015.05.09】如何防骗.pdf" target="_blank" rel="noopener">如何防骗.pdf</a></p>
<h4 id="9">9. 怎么转成高级帐号（转正）？</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/OTHER/9/9.md" target="_blank" rel="noopener">9.md</a></p>
<h4 id="10tf2">10. 一些跟TF2有关的网站</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/一些跟TF2有关的网站/一些跟TF2有关的网站.md" target="_blank" rel="noopener">一些跟TF2有关的网站.md</a></p>
<h4 id="11scraptf">11. 如何使用Scrap.tf</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/如何使用Scrap.tf/如何使用Scrap.tf.md" target="_blank" rel="noopener">如何使用Scrap.tf.md</a></p>
<h4 id="12">12. 为什么我进不了服务器？为什么突然断线？</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/为什么我进不了服务器_为什么突然断线/为什么我进不了服务器_为什么突然断线.md">为什么我进不了服务器_为什么突然断线.md</a></p>
<h4 id="13vacisblockingthevacsystem">13. 计算机屏蔽了VAC系统？( ... is blocking the VAC system ... )</h4>
<p><a href="https://tinyurl.com/y3ywkreg" target="_blank" rel="noopener">https://www.baidu.com/s?cl=3&amp;wd=您的计算机屏蔽了VAC系统</a></p>
<p><a href="https://tinyurl.com/y35cy99a">https://www.baidu.com/s?cl=3&amp;wd=is blocking the VAC system</a></p>
<p><a href="http://tieba.baidu.com/p/3203217072" target="_blank" rel="noopener">http://tieba.baidu.com/p/3203217072</a></p>
<p>( 请先确认有没有被杀毒等其他软件阻挡 )</p>
<h4 id="14">14. 非安全模式</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/非安全模式/非安全模式.md" target="_blank" rel="noopener">非安全模式.md</a></p>
<h4 id="15">15. 如何建服：</h4>
<p><a href="http://tieba.baidu.com/p/3462039367" target="_blank" rel="noopener">http://tieba.baidu.com/p/3462039367</a></p>
<h4 id="16mod">16. [模型资源]香蕉网的MOD资源转载：</h4>
<p><a href="http://tieba.baidu.com/p/3187127934" target="_blank" rel="noopener">http://tieba.baidu.com/p/3187127934</a></p>
<h4 id="17hudmod">17. 如何安装HUD\自定义文件\MOD：</h4>
<p><a href="http://tieba.baidu.com/p/2490923051">http://tieba.baidu.com/p/2490923051</a></p>
<h4 id="18missingmap">18. 如何修复地图遗失（Missing Map）：</h4>
<p><a href="http://tieba.baidu.com/p/3605200278" target="_blank" rel="noopener">http://tieba.baidu.com/p/3605200278</a></p>
<p><a href="http://steamcommunity.com/groups/NewbaiduTF2/discussions/0/617329920703587842/" target="_blank" rel="noopener">https://tinyurl.com/y4z3qxcz</a></p>
<h4 id="19">19. 游戏备份：</h4>
<p><a href="http://steamcommunity.com/groups/NewbaiduTF2/discussions/0/620713633863502775/" target="_blank" rel="noopener">https://tinyurl.com/yxn2s9mt</a></p>
<h4 id="20hud">20. HUD：</h4>
<p><a href="http://huds.tf/" target="_blank" rel="noopener">http://huds.tf/</a></p>
<p>（ 如何更改文字的颜色、大小、字形： <a href="http://tieba.baidu.com/p/3783911189" target="_blank" rel="noopener">http://tieba.baidu.com/p/3783911189</a> ）</p>
<h4 id="21">21. 依职业切换设定：</h4>
<p><a href="http://tieba.baidu.com/p/2532902712" target="_blank" rel="noopener">http://tieba.baidu.com/p/2532902712</a></p>
<h4 id="22v">22. 透明V模：</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/OTHER/22/22.md" target="_blank" rel="noopener">9.md</a></p>
<h4 id="23win10tf2">23. win10 TF2不能启动（闪退）：</h4>
<p><a href="http://tieba.baidu.com/p/3658948112" target="_blank" rel="noopener">http://tieba.baidu.com/p/3658948112</a></p>
<h4 id="24configtf">24. config.tf ---- 帮助你完成设定文件：</h4>
<p><a href="http://tieba.baidu.com/p/3715841678" target="_blank" rel="noopener">http://tieba.baidu.com/p/3715841678</a></p>
<h4 id="25cfg">25. 终极低画质补丁三连弹，无帽+低画质cfg+超低贴图设置：</h4>
<p><a href="http://tieba.baidu.com/p/3561845286" target="_blank" rel="noopener">http://tieba.baidu.com/p/3561845286</a></p>
<h4 id="26tf2">26. 大量TF2设定与调整工具：</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/大量TF2设定与调整工具/【2015.04.04】大量TF2设定与调整工具.pdf" target="_blank" rel="noopener">大量TF2设定与调整工具.pdf</a></p>
<p>如果还是很有困难，更新配件/买新电脑才是上策</p>
<h4 id="27gunmettle">27. 关於『Gun Mettle』更新后的崩溃问题：</h4>
<p><a href="http://tieba.baidu.com/p/3875900634" target="_blank" rel="noopener">http://tieba.baidu.com/p/3875900634</a></p>
<h4 id="28">28. 如何显示伤害数字：</h4>
<p><a href="http://t.cn/RqKQRh4" target="_blank" rel="noopener">http://t.cn/RqKQRh4</a></p>
<h4 id="29">29. 如何更改手臂长度\枪的距离\视野：</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/OTHER/29/29.md" target="_blank" rel="noopener">29.md</a></p>
<h4 id="30">30. 为什麼别人的介面跟我不一样：</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/OTHER/30/30.md" target="_blank" rel="noopener">30.md</a></p>
<h4 id="31windowstf2">31. 在不是Windows的系统上的系统上，TF2的字会显示不全：</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/OTHER/31/31.md" target="_blank" rel="noopener">31.md</a></p>
<h4 id="32">32. 如何开启打击音效以及变更打击音效：</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/OTHER/32/32.md" target="_blank" rel="noopener">32.md</a></p>
<h4 id="33">33. 分辨率设定错误导致游戏无法执行：</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/OTHER/33/33.md" target="_blank" rel="noopener">33.md</a></p>
<h4 id="34linux">34. Linux缺字：</h4>
<p><a href="https://tieba.baidu.com/p/3806846209?pid=69389227567&amp;cid=0#69389227567" target="_blank" rel="noopener">http://t.cn/RuqKiXf</a></p>
<h4 id="35">35. 如何挑选低延迟的官服：</h4>
<p><a href="http://tieba.baidu.com/p/3991457592" target="_blank" rel="noopener">http://tieba.baidu.com/p/3991457592</a></p>
<p><a href="http://t.cn/RLsQXFP" target="_blank" rel="noopener">http://t.cn/RLsQXFP</a></p>
<h4 id="36blackrose">36. 如何解锁黑玫瑰（Black Rose）：</h4>
<p><a href="http://tieba.baidu.com/p/4018145952" target="_blank" rel="noopener">http://tieba.baidu.com/p/4018145952</a></p>
<h4 id="377">37. 尖叫要塞7更新 --- 问题与答案：</h4>
<p><a href="http://tieba.baidu.com/p/4132961874" target="_blank" rel="noopener">http://tieba.baidu.com/p/4132961874</a></p>
<h4 id="38outofmemory">38. out of memory：</h4>
<p><a href="https://www.baidu.com/s?wd=out%20of%20memory" target="_blank" rel="noopener">http://t.cn/RuqKKhM</a></p>
<p>如果你发现方法都试过了还是不行，那就代表你该升级配置了，再怎么说都是从2007更新到现在， 也差不多该汰旧换新了，像是作业系统升级到WIN7\WIN10且64位元，内存扩充到4GB以上等等等。</p>
<p>（简单说电脑不能太老、百病丛生）</p>
<p>（你也不要认为说用什么XX大师、XX优化，就能解决一切问题）</p>
<h4 id="39unabletoloadunicodedll">39. 【修复】Unable to load unicode.dll：</h4>
<p><a href="http://tieba.baidu.com/p/4244470418" target="_blank" rel="noopener">http://tieba.baidu.com/p/4244470418</a></p>
<p><a href="http://tieba.baidu.com/p/4247797644" target="_blank" rel="noopener">http://tieba.baidu.com/p/4247797644</a></p>
<h4 id="40steam">40. 【教程】手机steam令牌：</h4>
<p><a href="http://tieba.baidu.com/p/4232353134" target="_blank" rel="noopener">http://tieba.baidu.com/p/4232353134</a></p>
<h4 id="41">41. 说不定能解决你的死机问题：</h4>
<p><a href="http://tieba.baidu.com/p/4336861892" target="_blank" rel="noopener">http://tieba.baidu.com/p/4336861892</a></p>
<h4 id="42">42. 有关备份还原、游戏主档案复制等</h4>
<p><a href="http://tieba.baidu.com/p/2301894301" target="_blank" rel="noopener">一般来说，我建议你使用Steam内建的备份和还原&nbsp;</a></p>
<p>但如果你因为什么原因，或者发生明明有安装却显示没有安装这样的状况时，你可以试著在再一次选择安装到那个位置，也就是无视Steam跟你说需要重新下载，因为Steam下载安装时，是会扫说该位置的情况，所以有很大的可能是，Steam扫描后，发现你已经有了，于是验证个完整性，结束。</p>
<h4 id="43">43. 那些有前坠名称或计数器的武器或帽子是什么？</h4>
<p><a href="https://wiki.teamfortress.com/wiki/Strange" target="_blank" rel="noopener">https://wiki.teamfortress.com/wiki/Strange</a></p>
<p><a href="https://wiki.teamfortress.com/wiki/Strange_Part" target="_blank" rel="noopener">https://wiki.teamfortress.com/wiki/Strange_Part</a></p>
<p><a href="https://wiki.teamfortress.com/wiki/CivilianGradeStat_Clock" target="_blank" rel="noopener">https://wiki.teamfortress.com/wiki/CivilianGradeStat_Clock</a></p>
<h4 id="44">44. 那些什么连杀是什么？（什么多少连杀、武器有特殊光泽、眼睛会喷火之类的）</h4>
<p><a href="https://wiki.teamfortress.com/wiki/Killstreak_Kit" target="_blank" rel="noopener">https://wiki.teamfortress.com/wiki/Killstreak_Kit</a></p>
<h4 id="45xxx">45. XXX东西要怎么取得？</h4>
<p>这要看是什么东西，但一般来说，你可以靠和其他人做交易来取得</p>
<h4 id="46">46. 物品掉落的规则是如何？</h4>
<p><a href="https://wiki.teamfortress.com/wiki/Drop" target="_blank" rel="noopener">https://wiki.teamfortress.com/wiki/Drop</a></p>
<p>你在有开启VAC保护的服务器内进行游戏就有机会拿到物品，至于频率、会拿到什么、以及为什么又没有拿到，一切一切都是系统决定，你不需要问，不需要不服气，如果你真的急着要东西，就去交易和商城。</p>
<h4 id="47connectionfailedafter4retries">47. 『connection failed after 4 retries』？</h4>
<p>简言之，你连不进去＼你断线了，至于原因是什么，很多，总归就是「这是你和服务器间的事情」，只能建议你换服务器（建议找低延迟的）或是试著改善你的网路品质。</p>
<h4 id="48httpsbitbucketorgdr_newbietf2qnasrcmasterpicture481jpg">48. 为什么主页面上出现<a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/PICTURE/48-1.jpg" target="_blank" rel="noopener">僵尸</a>？</h4>
<p><a href="https://wiki.teamfortress.com/wiki/Full_Moon" target="_blank" rel="noopener">https://wiki.teamfortress.com/wiki/Full_Moon</a></p>
<h4 id="49httpsbitbucketorgdr_newbietf2qnasrcmasterpicture482png">49. 东西上面写著<a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/PICTURE/48-2.png" target="_blank" rel="noopener">满月或节日才能使用</a>是什么意思？</h4>
<p><a href="https://wiki.teamfortress.com/wiki/Full_Moon" target="_blank" rel="noopener">https://wiki.teamfortress.com/wiki/Full_Moon</a></p>
<h4 id="50">50. 如何邀请好友？</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/PICTURE/50-1.png" target="_blank" rel="noopener">透过STEAM</a></p>
<h4 id="51">51. 创意工坊地图订阅后怎么玩？</h4>
<p><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=454260231" target="_blank" rel="noopener">https://steamcommunity.com/sharedfiles/filedetails/?id=454260231</a></p>
<p><a href="http://t.cn/Rtm8WQs" target="_blank" rel="noopener">http://t.cn/Rtm8WQs</a></p>
<h4 id="52">52. 更新时硬盘满了？为什么更新一直胀大？为什么没有速度？</h4>
<ul>
<li>现在硬盘都不贵，建议你直接入个几百G的或T的。 ---&gt;<a href="https://www.baidu.com/s?wd=硬盘" target="_blank" rel="noopener">硬盘</a> ---&gt;<a href="https://www.baidu.com/s?wd=移动硬盘" target="_blank" rel="noopener">移动硬盘</a></li>
<li>一直胀大代表说你的档案被判定成「需要重新下载」，原因很多，可能你刚好就那么倒楣，可能你电脑有乱搞乱弄（然后你还不知道），也有可能他已经更新好了，但是无法执行后头的移动和清除，你可以自己用STEAM，下载，更新等关键字去搜寻。如果你要我出点子的话，我会建议你就放着给他更新，或是主动把一些东西删除，用验证完整性，又或者整个删干净，重新下载。</li>
<li>这问题广泛存在，你也不用太着急</li>
<li>因为没有下载，至于是因为你网路你跟你选的下载区不合，还是其他原因，不清楚，你可以用STEAM，下载，更新，缓慢等关键字去搜寻。</li>
</ul>
<h4 id="53">53. 什么样的配置才带的动本游戏？</h4>
<ul>
<li>硬盘空间不能太小，你买个外接硬盘单独放你的STEAM游戏也行</li>
<li>你内存不能太小，随着游戏更新，消耗自然变大。 4G、8G都不贵，不要那么「省」，硬是用2G</li>
<li>你的CPU和显卡不能太差，文书用，太过古老或低端的不行，也不用追很高，你找个中价位的就OK，或是入二手</li>
<li>你的系统不能太乱，这算是个人电脑知识和习惯了，有些人就是要用什么XX大师、XX优化，然后装这个装那个，什么破解，什么免费，然后BOOM，系统乱七八糟</li>
<li>作业系统使用WIN7或WIN10，64位元，其他作业系统可以试试，但可能会有些奇怪的现象</li>
</ul>
<p>其实简单说就是该更新，该维护时就要做，我个人对我的六年多的电脑做了一些维护和升级后，现在游戏都很顺，虽然得花钱，但考虑到已经'六年'多了，也没有贵到哪去。</p>
<h4 id="54">54. 如何把更新前的创造服务器方式加回主页面上</h4>
<p>如果你不喜欢用［控制台 - MAP &lt;地图名称&gt;］这种开图方式，你可以自己把它加回去</p>
<p><a href="http://tieba.baidu.com/p/4661904998" target="_blank" rel="noopener">http://tieba.baidu.com/p/4661904998</a></p>
<h4 id="55bot">55. 能不能玩单机\离线\跟BOT打？</h4>
<p>你随时都可以用指令［map "地图的名称"］开启任何你有的地图</p>
<p><a href="http://tieba.baidu.com/p/4661904998" target="_blank" rel="noopener">http://tieba.baidu.com/p/4661904998</a></p>
<h4 id="56bot">56. BOT不会动？</h4>
<p><a href="https://wiki.teamfortress.com/wiki/Bots/zh-hant" target="_blank" rel="noopener">https://wiki.teamfortress.com/wiki/Bots/zh-hant</a></p>
<h4 id="57bot">57. BOT卡在一个地方？</h4>
<p><a href="https://wiki.teamfortress.com/wiki/Bots/zh-hant" target="_blank" rel="noopener">https://wiki.teamfortress.com/wiki/Bots/zh-hant</a></p>
<p>终究是系统自动算出来的路径，可能会跟实际地图路线不符</p>
<h4 id="58bot">58. 怎么加入BOT？</h4>
<p><a title="https://developer.valvesoftware.com/wiki/ListofTF2consolecommandsandvariables" href="https://developer.valvesoftware.com/wiki/ListofTF2consolecommandsandvariables" target="_blank" rel="noopener">https://developer.valvesoftware.com/wiki/List<em>of</em>TF2<em>console</em>commands<em>and</em>variables</a></p>
<h4 id="59">59. 如何开启控制台？</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/OTHER/如何开启控制台/如何开启控制台.md" target="_blank" rel="noopener">如何开启控制台.md</a></p>
<h4 id="60">60. 皮肤\帽子\饰品有什么功用吗？</h4>
<p>就是皮肤\帽子\饰品，没其他特别的能力</p>
<h4 id="61gbgb">61. 为什么我下载时只有几GB，但之后变成几十多GB？</h4>
<p>你不知道「档案压缩」吗？</p>
<h4 id="62vpn">62. VPN？加速器？</h4>
<p>依然是你和服务器间的事情</p>
<p>请有点常识，不是开了就能解决，问题是『这些东西和你连的好不好』以及『提供这服务的与目标服务器连的好不好』，因此『你&lt;---&gt;VPN或加速器&lt;---&gt;游戏服务器』这三者畅通，你才会畅通。</p>
<p>人们有时直接连线『你&lt;---&gt;游戏服务器』会得到很差甚至无法连上的状况，所以希望『VPN或加速器&lt;---&gt;游戏服务器』能帮你连好，然后传给你稳定的连线『你&lt;---&gt;VPN或加速器』，提升游戏品质。</p>
<p>你也不用特别开帖问，你可以去找免费的，你可以去找有鉴赏期的，而实际如何，要你自己试了才知道。</p>
<p>（类推到访问各种网站）</p>
<h4 id="63100">63. 为什么停在100%？</h4>
<p>因为还需要解压缩、还需要做一些事情</p>
<h4 id="64">64. 为什么那么慢？</h4>
<p>撇除当机，你电脑差( ---&gt; <a href="http://t.cn/RuqK8bf" target="_blank" rel="noopener">#53</a> )，若你有兴趣，可以去充实相关电脑基本知识</p>
<p>你不用跟我们争说你的有多好多强花了多少钱，现况就是你跑不动</p>
<h4 id="65">65. 什么东西才能挂市场或与他人交易？</h4>
<p>首先，你的帐号要能挂市场或与他人交易。</p>
<p>接著，如果那东西能挂市场或与他人交易，那你就能在进行相关操作时，看到那东西。</p>
<p>如果你非要个明确点的答案，1，那东西的起源有实际金钱根据，2，V社设定说这能挂市场或与他人交易。</p>
<p>你不用太奢想说这游戏会免费送大钱给你，纯粹免费掉落的且可以挂市场的，往往是［大家都有的便宜货］，所以，请自行参考交易入门内的查价。</p>
<h4 id="66">66. 如何还原种种设定？</h4>
<ol>
<li>进入你的［common\Team Fortress 2\tf］</li>
<li>删除这些文件夹［cfg］、［custom］、［download］</li>
<li>验证完整性</li>
</ol>
<h4 id="67">67. 为什么一卡一卡的？</h4>
<p>撇除你电脑差，大概是因为输入法</p>
<h4 id="68">68. 怎么把语言改成中文？</h4>
<p>你的Steam改成中文</p>
<p><a href="http://steamcn.com/t43618-1-1" target="_blank" rel="noopener">http://steamcn.com/t43618-1-1</a></p>
<h4 id="69">69. 怎么修改游戏昵称？</h4>
<p>修改Steam的昵称</p>
<h4 id="70">70. 怎么跳舞＼击掌＼猜拳＼与他人互动？</h4>
<p>站在正确的位置，并按下嘲讽按键</p>
<p>简单的范例 : <a href="http://t.cn/RVi75SU" target="_blank" rel="noopener">http://t.cn/RVi75SU</a></p>
<h4 id="71mvm">71. MvM的门票怎么用？</h4>
<p>你有门票才能进官方的MvM，才会有奖品，在你过关前都不会用掉</p>
<p>简单说，你不用管那么多，门票在，你可以进，门票没了，但你还想继续，就要去入手</p>
<h4 id="72">72. 如何跟好友一起玩？</h4>
<p>进同一个服务器，你丢IP给他，他丢IP给你，你邀请他，他邀请你</p>
<p>官服匹配？跟他组队</p>
<p>两人一个在北极一个在南极？你们其中一方飞去另一方，或是两人到中央</p>
<h4 id="73">73. 屏幕超频？</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/OTHER/33/33.md" target="_blank" rel="noopener">33.md</a></p>
<h4 id="74">74. 为什么我不能加好友？</h4>
<p>你是受限制的帐号</p>
<p>详阅：<a href="https://tinyurl.com/2e7ln4r" target="_blank" rel="noopener">support.steampowered.com/kb_article.php?ref=3330-IAGK-7663</a></p>
<h4 id="75steam">75. 怎样才能开通Steam帐号＼取得更多功能？</h4>
<p>你需要在Steam上面消费满五美金</p>
<p>详阅：<a href="http://t.cn/RZjCpPY" target="_blank" rel="noopener">support.steampowered.com/kb_article.php?ref=3330-IAGK-7663</a></p>
<ul>
<li>Adding the equivalent of $5 USD or more to your <a href="http://t.cn/RuqK1mp" target="_blank" rel="noopener">Steam Wallet</a></li>
<li>Purchasing game(s) that are equal to $5 USD or more from the <a href="http://t.cn/RxDH4xz" target="_blank" rel="noopener">Steam store</a></li>
<li>Adding a <a href="http://t.cn/8kJtXq0" target="_blank" rel="noopener">Steam Wallet card</a> that is equal to $5 USD or more to your Steam account</li>
<li>Purchasing a <a href="http://t.cn/RuqKFTk" target="_blank" rel="noopener">Steam gift</a> that is equal to $5 USD or more from the Steam store (Receiving a Steam gift from a friend doesn't count)</li>
</ul>
<h4 id="76steam">76. Steam怎么绑定手机？</h4>
<p><a href="http://t.cn/Ruq97Nm" target="_blank" rel="noopener">http://t.cn/Ruq97Nm</a></p>
<h4 id="77">77. 怎么进入竞技模式？</h4>
<p>需要是高级帐号（也就是转正）</p>
<p>绑定手机</p>
<p>或购买通行证 <a href="http://t.cn/RVi7jv0" target="_blank" rel="noopener">http://t.cn/RVi7jv0</a></p>
<h4 id="78">78. 客户端崩溃：</h4>
<p><a href="http://tieba.baidu.com/p/3212671653" target="_blank" rel="noopener">http://tieba.baidu.com/p/3212671653</a></p>
<h4 id="79">79. 怎么直接进入休闲模式的服务器？</h4>
<p>不能</p>
<h4 id="80soulgargoyle">80. 摄魂石像鬼（Soul Gargoyle）是做什么的？</h4>
<p><a href="https://bitbucket.org/Dr_Newbie/tf2qna/src/master/OTHER/80/80.md" target="_blank" rel="noopener">80.md</a></p>
<h4 id="81">81. 如何使用工作坊的地图</h4>
<p><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1084116596" target="_blank" rel="noopener">如何使用工作坊的地图</a></p>